@model List<KidKinder.Entities.Teacher>

<style>
    .testimonial-item, .team {
        text-align: center; /* İçeriği ortala */
    }

    .team {
        display: inline-block; /* Fotoğraf ve bilgilerin yan yana görüntülenmesi */
    }

        .team img {
            max-width: 150px; /* Maksimum genişlik 150 piksel */
            max-height: 150px; /* Maksimum yükseklik 150 piksel */
            object-fit: cover; /* Resmi kutuyu dolduracak şekilde ayarla */
            border-radius: 50%; /* Köşeleri yuvarlat */
        }
</style>

<div class="container-fluid pt-5">
    <div class="container">
        <div class="text-center pb-2">
            <p class="section-title px-5">
                <span class="px-2">Öğretmenlerimiz</span>
            </p>
            <h1 class="mb-4">Öğretmenlerimizle Tanışın</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel testimonial-carousel">
                    @foreach (var item in Model)
                    {
                        <div class="testimonial-item">
                            <div class="team position-relative overflow-hidden mb-5">
                                <img class="img-fluid w-100" src="@item.ImageUrl" alt="@item.NameSurname" />
                                <div class="team-social d-flex align-items-center justify-content-center w-100 h-100 position-absolute">
                                    <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px" href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="btn btn-outline-light text-center mr-2 px-0" style="width: 38px; height: 38px" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn btn-outline-light text-center px-0" style="width: 38px; height: 38px" href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="text-center">
                                <h4>@item.NameSurname</h4>
                                <p><i>@item.Branch.Name Öğretmeni</i></p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>