<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">KidKinder Admin Paneli</h5>
                    <p class="m-b-0">Veri girişi, güncelleme ve diğer tüm işlemleri bu panelde gerçekleştirebilirsiniz</p>
                </div>
            </div>
            
        </div>
    </div>
</div>
