@model List<KidKinder.Entities.Student>
@{
    ViewBag.Title = "StudentList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-body start -->
            <div class="page-body">

                <div class="card">
                    <div class="card-header">
                        <h5>Öğrenci Listesi</h5>
                        <span>Öğrenciler ile ilgili işlemleri buradan yapabilirsiniz</span>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="fa fa fa-wrench open-card-option"></i></li>
                                <li><i class="fa fa-window-maximize full-card"></i></li>
                                <li><i class="fa fa-minus minimize-card"></i></li>
                                <li><i class="fa fa-refresh reload-card"></i></li>
                                <li><i class="fa fa-trash close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Öğrenci Ad Soyad</th>
                                        @*<th>Öğrenci Görseli</th>*@
                                        <th>Sil</th>
                                        <th>Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.StudentId</td>
                                            <td>@item.NameSurname</td>
                                            @*<td>@item.ImageUrl</td>*@
                                            <td><a href="/AdminStudent/DeleteStudent/@item.StudentId" class="btn btn-danger">Sil</a></td>
                                            <td><a href="/AdminStudent/UpdateStudent/@item.StudentId" class="btn btn-success">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminStudent/CreateStudent/" class="btn btn-primary">Yeni Öğrenci Ekle</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

