
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<form method="post">
    <div class="container">
        <br />
        <div class="alert alert-warning">KidKinder Yönetici Girişi</div>
        <label>Kullanıcı Adı</label>
        <input type="text" name="Username" class="form-control" />
        <br />
        <input type="password" name="Password" class="form-control" />
        <br />
        <button class="btn btn-primary">Giriş Yap</button>
        <br />
    </div>
</form>